.home {
    background-color:cadetblue;
    color: rgb(236, 190, 190);
}
.pageone {
    background-color: burlywood;
    color: brown;
}
#pagetwo {
    background-color: cornflowerblue;
    color: darkkhaki;
}
#pagethree {
    background-color: darkgrey;
    color: coral;
}
#pagefour {
    background-color: darkseagreen;
    color: midnightblue;
}
#pagefive {
    background-color: lightpink;
    color: darkmagenta;
}
h1 {
    text-align: center;
    font-size: 48px;
}
.img {
    vertical-align: middle; 
    border: 2px;
}
div {
    text-align:center;
}
